section{

    color: green;
    text-align: center;
    width: 35%;
    margin: 0px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h1{
    color: blue;
    text-align: center;
}
#links{
    width: 100%;
    text-align: center;

}